extends layout //Qui diciamo di copiare il contenuto della pagina layout

block content //Qui inizia il contenuto della nuova pagina
 h1 #{state.name}  //Recupero il nome dello stato
 .card(style='width: 18rem;')
   .card-body
     h5.card-title #{state.translations.it} //Recupero la traduzione italiana dello stato ...
    
   ul.list-group.list-group-flush
     li.list-group-item Capitale: #{state.capital}
     li.list-group-item Popolazione: #{state.population}
     li.list-group-item Nome in Giapponese #{state.translations.ja}
   .card-body
     a.card-link(href=`${state.wiki}` ,  target="_blank") Pagina Wikipedia